<div class="pageCompletion">
   	 <div class="pageCompletion-toolbar-close">
        <a href="#" class="pageCompletion-done">
            <div class="pageCompletion-icon-close icon icon-cross"></div>
        </a>
        
    </div>
    <div class="pageCompletion-content">
        <div class="pageCompletion-inner">

                <div class="pageCompletion-title">
                    <h5 class="pageCompletion-title-inner">
                        {{{_pageCompletion._popupTitle}}}
                    </h5>
                </div>

            <div class="pageCompletion-body">
                <div class="pageCompletion-body-inner">{{{_pageCompletion._popupText}}}</div>
            </div>
        </div>
		
		 <div class="pageCompletion-toolbar">
        <a href="#" class="pageCompletion-done"> 
        </a>
        <div class="pageCompletion-menu-link button">{{_pageCompletion._backLink.linkText}}</div>
    </div>
		
    </div>
</div>

<div class="pageCompletion-shadow"></div>